<section class="vegetables" id="catalog">
    <div class="container vegetables-container">
        <h2 class="vegetables-title">organic vegetables</h2>
        <p class="vegetables-title-text">Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible.</p>
        <ul class="vegetables-list">
            <li class="vegetables-list-item">
                <h3 class="vegetables-subtitle">eggplant</h3>
                <p class="vegetables-subtitle-text">60 UAH / KG</p>
                <img
                    class="vegetables-picture"
                    srcset="./img/vegetables/eggplant.png    1x,
                    ./img/vegetables/eggplant@2.png 2x"
                    src="./img/vegetables/eggplant.png"
                    alt="eggplant"
                    width="282"
                    height="243"
                  />
            </li>
            <li class="vegetables-list-item">
                <h3 class="vegetables-subtitle">leek</h3>
                  <p class="vegetables-subtitle-text">50 UAH / KG</p>
                  <img
                    class="vegetables-picture"
                    srcset="./img/vegetables/leek.png    1x,
                    ./img/vegetables/leek@2.png 2x"
                    src="./img/vegetables/leek.png"
                    alt="leek"
                    width="282"
                    height="243"
                  />
            </li>
            <li class="vegetables-list-item">
                <h3 class="vegetables-subtitle">mushrooms</h3>
                  <p class="vegetables-subtitle-text">40 UAH / KG</p>
                  <img
                    class="vegetables-picture"
                    srcset="./img/vegetables/mushrooms.png    1x,
                    ./img/vegetables/mushrooms@2.png 2x
                    "
                    src="./img/vegetables/mushrooms.png"
                    alt="mushrooms"
                    width="282"
                    height="243"
                  />
            </li>
            <li class="vegetables-list-item">
                <h3 class="vegetables-subtitle">corn</h3>
                  <p class="vegetables-subtitle-text">60 UAH / KG</p>
                  <img
                    class="vegetables-picture"
                    srcset="./img/vegetables/corn.png    1x,
                    ./img/vegetables/corn@2.png 2x"
                    src="./img/vegetables/corn.png"
                    alt="corn"
                    width="282"
                    height="243"
                  />
            </li>
            <li class="vegetables-list-item">
                <h3 class="vegetables-subtitle">sweet potatoes</h3>
                  <p class="vegetables-subtitle-text">50 UAH / KG</p>
                  <img
                    class="vegetables-picture"
                    srcset="./img/vegetables/sweet_potatoes.png    1x,
                    ./img/vegetables/sweet_potatoes@2.png 2x"
                    src="./img/vegetables/sweet_potatoes.png"
                    alt="sweet_potatoes"
                    width="282"
                    height="243"
                  />
            </li>
            <li class="vegetables-list-item">
                <h3 class="vegetables-subtitle">carrot</h3>
                  <p class="vegetables-subtitle-text">40 UAH / KG</p>
                  <img
                    class="vegetables-picture"
                    srcset="./img/vegetables/carrot.png    1x,
                    ./img/vegetables/carrot@2.png 2x"
                    src="./img/vegetables/carrot.png"
                    alt="carrot"
                    width="282"
                    height="243"
                  />
            </li>
        </ul>
    </div>
</section>