<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discount</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.min.css">
    <link rel="stylesheet" href="">

</head>

<body>
    <section class="discount-section">
        <h2 class="discount-section-title visually-hidden">Discount</h2>
        <div class="discount-section-container">
            <p class="discount-paragraph">
                <span class="discount-span">Discount up to 40%!</span>
                Taste the vitamins and keep your health
            </p>
        </div>
    </section>
</body>

</html>