<header class="header">
  <div class="container header-container">
    <div class="header-wrap">
      <div class="header-logo">
        <a href="./index.html" class="header-logo-a">
          <svg class="header-logo-icon">
            <use href="../img/icons.svg#icon-logo"></use>
          </svg>
        </a>
      </div>

      <button type="button" class="btn-open-menu">
        <svg class="icon-btn-open-menu">
          <use href="./img/icons.svg#icon-mobile-open"></use>
        </svg>
      </button>

      <div class="header-menu-wrap">
        <nav class="header-menu">
          <ul class="header-menu-list">
            <li class="header-menu-item">
              <a href="#steps">How It Works</a>
            </li>
            <li class="header-menu-item">
              <a href="#catalog">Vegetables</a>
            </li>
            <li class="header-menu-item">
              <a href="#reviews">Reviews</a>
            </li>
          </ul>
        </nav>
        <button type="button" class="header-btn-shop">Shop now</button>
      </div>
    </div>
  </div>
</header>
