<!-- Open mob-menu by using 'menu-is-open' -->
<div class="mob-menu">
  <div class="backdrop"></div>
  <div class="container mob-container">
    <div class="mob-top">
      <button class="menu-close-btn" type="button">
        <svg class="menu-close-icon">
          <use href="./img/icons.svg#icon-tablet-close"></use>
        </svg>
      </button>
      <nav class="mob-navigation">
        <ul class="mob-navigation-list">
          <li>
            <a href="#steps" class="mob-navigation-link mob-steps"
              >How it works</a
            >
          </li>
          <li>
            <a href="#catalog" class="mob-navigation-link">Vegetables</a>
          </li>
          <li>
            <a href="#reviews" class="mob-navigation-link">Reviews</a>
          </li>
        </ul>
      </nav>
    </div>
    <button href="#order" type="submit" class="mob-button">SHOP NOW</button>
  </div>
</div>
