<section class="mob-menu menu-is-open">
  <div class="container mob-container">
    <div>
      <button class="menu-close-btn" type="button">
        <svg class="menu-close-icon" height="32" width="32">
          <use href="../img/icons.svg#icon-tablet-close"></use>
        </svg>
      </button>
      <nav class="mob-navigation">
        <ul class="mob-navigation-list">
          <li>
            <a href="#how-it-works" class="mob-navigation-link">How it works</a>
          </li>
          <li>
            <a href="#vegetables" class="mob-navigation-link">Vegetables</a>
          </li>
          <li>
            <a href="#reviews" class="mob-navigation-link">Reviews</a>
          </li>
        </ul>
      </nav>
      <button type="submit" class="mob-tutton">SHOP NOW</button>
    </div>
  </div>
</section>
