<section class="order" id="order">
    <div class="order-section container">
    <div class="order-text-container">
        <h2 class="order-title">Fresh <span class="title-accent">Harvest</span> Box has got you covered</h2>
        <p class="order-text">Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to eat healthier or support local farmers. Order your box today and start enjoying the best that nature has to offer!</p>
    </div>
    <div class="second-container">
        <div class="order-form-container">
            <p class="order-form-text">Ordering <span class="first-accent">from us</span> is quick and easy! Fill out <span class="second-accent">the form</span> below and we will contact you !</p>
            <form class="order-form">
                <input type="text" name="customer-name" placeholder="Full name" class="name-input" required/>
                <input pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" type="email" name="customer-email" placeholder="Email" class="email-input" required/>
                <p class="text-valid">Succes!</p>
                <p class="text-invalid">Invalid email, try again</p>
                <textarea name="customer-comment" placeholder="Comment" class="comment-section"></textarea>
                <button type="submit" class="order-button">Send</button>
            </form>
        </div>
        <div class="order-media-container">
            <div class="overlay"></div>
            <picture>
                <source media="(max-width: 767px)" srcset="./img/order-section-img/woman-hands@1.jpg 1x, ./img/order-section-img/woman-hands@2.jpg 2x"/>
                <source media="(min-width: 768px)" srcset="./img/order-section-img/woman-hands-tab@1.jpg 1x, ./img/order-section-img/woman-hands-tab@2.jpg 2x"/>
                <source media="(min-width: 1280px)" srcset="./img/order-section-img/woman-hands-desk@1.jpg 1x, ./img/order-section-img/woman-hands-desk@2.jpg 2x"/>
                <img src="../img/order-section-img/woman-hands@1.jpg"
                    alt="woman-hands"
                    width="295"
                    height="273"/>
            </picture>
            <p class="order-media-text">Follow us on our social networks:</p>
            <div class="media-container">
                <ul class="social-media-list">
                    <li class="social-media-item">
                        <a class="social-media-link" target="_blank" href="https://www.instagram.com/goitclub/">instagram</a>
                    </li>
                    <li class="social-media-item">/</li>
                    <li class="social-media-item">
                        <a class="social-media-link" target="_blank" href="https://www.facebook.com/goITclub/">facebook</a>
                    </li>
                    <li class="social-media-item">/</li>
                    <li class="social-media-item">
                        <a class="social-media-link" target="_blank" href="https://www.youtube.com/c/GoIT">youtube</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</section>