<div class="order-text">
    <h2 class="order-title">Fresh Harvest Box has got you covered</h2>
    <p class="order-text">Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to eat healthier or support local farmers. Order your box today and start enjoying the best that nature has to offer!</p>
</div>
<div class="order-form-container">
    <p class="order-fotm-text">Ordering from us is quick and easy! Fill out the form below and we will contact you !</p>
    <input class="order-second-form"/>
    <input class="order-first-form"/>
    <textarea class="order-textarea"></textarea>
    <button type="button" class="order-button"></button>
</div>
<div class="order-media-container">
    <img/>
    <p class="order-media-text"></p>
    <ul class="social-media-list">
        <li class="social-media-item">
            <a class="social-media-link" target="_blank" href=""></a>
        </li>
        <li class="social-media-item">
            <a class="social-media-link" target="_blank" href=""></a>
        </li>
        <li class="social-media-item">
            <a class="social-media-link" target="_blank" href=""></a>
        </li>
    </ul>
</div>