<section class="reviews container" id="reviews">
  <h2 class="reviews-title">reviews from our customers</h2>
  <p class="reviews-subtitle">
    Words of our customers: impressions and opinions about the quality of our
    services and the freshness of our products.
  </p>
  <div class="reviews-container">
    <ul class="reviews-list">
      <li class="reviews-item">
        <img class="reviews-picture" src="" alt="" />
        <h3 class="reviews-name">John Wax</h3>
        <p class="reviews-text">
          These vegetables are my secret to delicious and healthy meals. The
          quality is always at the highest level, the aroma and taste are
          enchanting. I advise every fan of real products!
        </p>
      </li>
      <li class="reviews-item">
        <img class="reviews-picture" src="" alt="" />
        <h3 class="reviews-name">Victoria Romashenko</h3>
        <p class="reviews-text">
          I love how fast and fresh the vegetables are delivered. Salads always
          turn out so appetizing, and soups are real masterpieces. The quality
          is impeccable!
        </p>
      </li>
      <li class="reviews-item">
        <img class="reviews-picture" src="" alt="" />
        <h3 class="reviews-name">Ihor Trachuk</h3>
        <p class="reviews-text">
          Recently tried my fresh tomatoes and peppers - amazing! The
          authenticity of the taste, as if from the garden directly to my table.
          It is now my main vegetable supplier.
        </p>
      </li>
    </ul>
  </div>
</section>
