<section class="how-it-works" id="steps">
  <div class="steps-container container">
    <h2 class="visually-hidden">How It Works</h2>
    <div class="steps-cooking">
      <div class="overlay"></div>
      <picture class="steps-cooking-image">
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/how-it-makes/woman.jpeg    1x,
            ./img/how-it-makes/woman@2x.jpeg 2x
          "
        />
        <source
          media="(min-width: 768px) and (max-width: 1279px)"
          srcset="
            ./img/how-it-makes/woman-tab.jpeg    1x,
            ./img/how-it-makes/woman-tab@2x.jpeg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/how-it-makes/woman-mob.jpeg    1x,
            ./img/how-it-makes/woman-mob@2x.jpeg 2x
          "
        />
        <img
          class="steps-cooking-image"
          src="./img/how-it-makes/woman-tab.jpeg"
          alt="Happy fitnes woman"
          width="640"
          height="640"
        />
      </picture>
    </div>
    <div class="steps-block">
      <div class="steps-block-text">
        <h3 class="steps-header">
          To order your <span>vegetable</span> basket, simply follow these
          <span>easy steps</span>
        </h3>
        <p class="steps-info">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
      </div>
      <ol class="steps-list">
        <li class="steps-list-item">
          <p class="steps-item-text">
            Just choose <span>the vegetable</span> you want to order by clicking
            on the checkboxes <span>next to it</span>.
          </p>
        </li>
        <li class="steps-list-item">
          <p class="steps-item-text">
            Click on <span>the basket</span> and fill out the form.
          </p>
        </li>
        <li class="steps-list-item">
          <p class="steps-item-text">
            Sit back and relax! Your <span>fresh vegetables</span> basket will
            be delivered.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
