 /* Vegetables styles */
.vegetables-container {
    background-color: #7A3145;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
}
.vegetables-title {
    color: #FBFBFB;
    margin-bottom: 20px;
    width: 100%;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -0.015em;
    text-transform: uppercase;
}
.vegetables-title-span {
    color: rgba(251, 251, 251, 0.3);
}
.vegetables-title-text {
    width: 100%;
    color: #FBFBFB;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
}
.vegetables-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.vegetables-list-item {
    padding: 32px 26px;
    border-radius: 40px;
    background-color: #FBFBFB;
}
.vegetables-subtitle {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.015em;
    color: #7A3145;
}
.vegetables-subtitle-text {
    margin-bottom: 14px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    color: #141414;
}
.vegetables-picture {
    width: 100%;
}


/* Tablet */
@media screen and (min-width: 768px) {
    .vegetables-title {
    width: 508px;
    margin-bottom: 25px;
    font-size: 64px;
    line-height: 1;
}
    .vegetables-title-text {
    width: 626px;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 1.25;
}
    .vegetables-list {
    gap: 28px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
    .vegetables-list-item {
    padding: 32px 30px;
    flex-basis: calc((100% - 20px) / 2);
}
    .vegetables-subtitle {
    font-size: 32px;
    }
    .vegetables-subtitle-text {
    margin-bottom: 10px;
    }
}
    /* Desktop */
@media screen and (min-width: 1280px) {
    .vegetables-list {
    gap: 28px 21px;
}
    .vegetables-list-item {
    padding: 32px;
    flex-basis: calc((100% - 42px) / 3);
}
}