/* ===== Header ===== */
.header {
  position: relative;
}

.header-container {
  position: absolute;
  background-color: transparent;
  top: 20px;
  left: 0;
  right: 0;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-a {
  display: block;
}
.header-logo {
  display: flex;
}

.header-logo-icon {
  width: 168px;
  height: 16px;
  fill: #fbfbfb;
}

.btn-open-menu {
  padding: 0;
  background-color: transparent;
  line-height: 0;
  border: none;
}

.icon-btn-open-menu {
  width: 32px;
  height: 32px;
}

.header-menu-wrap {
  display: none;
}

/* ===== Adaptive header for tablet ===== */

@media screen and (min-width: 768px) {
  .header-container {
    top: 32px;
  }

  .header-logo-icon {
    width: 194px;
    height: 18px;
  }

  .icon-btn-open-menu {
    width: 40px;
    height: 40px;
  }
}
/* ===== Adaptive header for desktop ===== */

@media screen and (min-width: 1280px) {
  .btn-open-menu {
    display: none;
  }

  .header-menu-wrap {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .header-menu-list {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }
  .header-menu-item {
    background-color: transparent;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid rgba(251, 251, 251, 0.4);
    color: #fbfbfb;
    text-align: center;
    font-size: 16px;
    line-height: 1.25; /* 125% */
    letter-spacing: -0.02em;
  }

  .header-btn-shop {
    margin: 0 auto;
    display: block;
    width: 157px;
    border-radius: 30px;
    background-color: #7a3145;
    border: none;
    padding: 16px 32px;
    color: #fbfbfb;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.11;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-btn-shop:hover,
  .header-btn-shop:focus {
    background-color: #622133;
  }
}
