.hero {
  background-color: #576f35;
  padding-top: 100px;
}

/* .container-hero {
} */

.title-hero {
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  padding-bottom: 20px;
}

.hero-text {
  font-size: 14px;
  line-height: 129%;
  color: #fbfbfb;
  padding-bottom: 40px;
}

.background-image {
  background-image: url(../img/hero/vegetables.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 370px;
}

@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 122px;
  }

  .title-hero {
    font-size: 76px;
    padding-bottom: 25px;
  }

  .hero-text {
    font-size: 16px;
    line-height: 125%;
    padding-bottom: 50px;
  }

  .background-image {
    background-image: url(../img/hero/vegetables@2x.jpg);
    min-height: 539px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero {
    padding-top: 238px;
  }
  .title-hero {
    display: inline-block;
    width: 502px;
  }

  .hero-text {
    width: 472px;
  }

  .background-image {
    background-image: url(../img/hero/vegetables.jpg);
    min-height: 800px;
    width: 650px;
  }
}
