svg {
  height: 100%;
  width: 100%;
}

.mob-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  display: flex;
  background-color: #7a3145;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 999;
}

.menu-is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mob-container {
  min-width: 320px;
  width: 375px;
  background-color: #7a3145;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0px 40px 110px;
  margin: 0 auto;
}

.mob-top {
  margin-bottom: 40px;
}

.menu-close-btn {
  margin-left: auto;
  margin-bottom: 188px;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  display: flex;
}

.mob-navigation {
  display: block;
}

.mob-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.mob-navigation-link {
  width: 114px;
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.4);

  color: #fbfbfb;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-navigation-link:hover,
.mob-navigation-link:focus {
  background-color: #fbfbfb;
  color: #7a3145;
}

.mob-steps {
  background-color: #fbfbfb;
  color: #7a3145;
}

.mob-button {
  display: inline-flex;
  padding: 16px 41px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #fbfbfb;
  border: none;
  margin: 0 auto;

  color: #7a3145;

  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-button:hover,
.mob-button:focus {
  color: rgba(122, 49, 69, 0.7);
}

.mob-button:active {
  color: #fbfbfb;
  background-color: transparent;
  border: 1px solid rgba(251, 251, 251, 0.2);
}

@media screen and (min-width: 768px) {
  .mob-menu {
    background-color: rgba(20, 20, 20, 0.4);
  }

  .container {
    margin-left: auto;
    margin-right: 0;
  }

  .mob-container {
    width: 351px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }

  .menu-close-btn {
    width: 40px;
    height: 40px;
  }

  .mob-navigation-link {
    font-size: 16px;
    line-height: 1.25;
  }

  .mob-button {
    padding: 16px 32px;
    font-size: 18px;
    line-height: 1.11;
  }
}

@media screen and (min-width: 1280px) {
  .mob-menu {
    display: none;
  }
}
