.order-section{
    min-width: 320px;
    max-width: 370px;
    padding: 80px 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #7a3145;
  }
  .order-text-container{
    width: 335px;
  }
  .order-title{
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    text-align: left;
    margin-bottom: 20px;
  }
  .title-accent{
    color: rgba(251, 251, 251, 0.3);
  }
  .order-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    color: #fbfbfb;
    margin-top: 29px;
  }
  .order-form-container{
    background-color: #fbfbfb;
    border-radius: 30px;
    padding: 40px 20px;
    max-width: 335px;
    margin-top: 40px;
  }
  .order-form-text{
    font-weight: 600;
   font-size: 24px;
   line-height: 1.08;
   letter-spacing: -0.01em;
   text-transform: uppercase;
   color: #141414;
  }
  .first-accent{
    color: #7A3145;
  }
  .second-accent{
    color: #576F35;
  }
  .order-form{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .name-input{
    border: 1px solid rgba(20, 20, 20, 0.2);
    border-radius: 30px;
    padding-left: 14px;
    max-width: 295px;
    height: 46px;
  }
  input::placeholder{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #141414;
    text-transform: capitalize;
    text-align: left;
  }
  .email-input{
    border: 1px solid rgba(20, 20, 20, 0.2);
    border-radius: 30px;
    padding: 14px 247px 14px 16px;
    max-width: 295px;
    height: 46px;
  }
  .email-input:valid{
    border-color: #3CBC81;
  }
  .email-input:invalid{
    border-color: #E74A3B;
  }
  input:hover,
  input:focus{
    border-color: #7A3145;
  }
  .comment-section{
    border: 1px solid rgba(20, 20, 20, 0.2);
    border-radius: 15px;
    padding-left: 16px;
    padding-right: 59px;
    max-width: 295px;
    resize: none;
  }
  .comment-section:hover,
  .comment-section:focus{
    border-color: #7A3145;
  }
  textarea::placeholder{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: left;
    color: #141414;
  }
  .order-button{
    border-radius: 30px;
    padding: 16px 129px;
    width: 295px;
    height: 50px;
    margin-top: 20px;
    background-color: #576F35;
    border: none;
    color: #fbfbfb;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    cursor: pointer;
}
.order-media-container{
    background-color: #576F35;
    border-radius: 30px;
    padding: 40px 20px;
    max-width: 335px;
    max-height: 465px;
    margin-top: 40px;
}
img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.order-media-text{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);
    margin-top: 20px;
}
.social-media-link{
    font-weight: 600;
    font-size: 24px;
    line-height: 1.08;
    letter-spacing: -0.01em;
    color: #fbfbfb;
}
.social-media-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 20px;
}
.social-media-item{
    color: #fbfbfb;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.08;
    letter-spacing: -0.01em;
}
@media screen and (min-width: 768px) {
    .order-section{
        max-width: 768px;
        padding: 100px 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .order-text-container{
      width: 640px;
    }
    .order-title{
        font-size: 64px;
        line-height: 1;
    }
    .order-text{
        font-size: 16px;
        line-height: 1.25;
        max-width: 640px;
    }
    .order-form-container{
        max-width: 628px;
        padding: 50px 100px;
        margin-left: 70px;
        margin-right: 70px;
    }
    .order-form{
        margin-top: 50px;
    }
    .name-input{
        padding-left: 16px;
        max-width: 428px;
    }
    input::placeholder{
        font-size: 16px;
        line-height: 1.25;
    }
    .email-input{
        padding-left: 16px;
        max-width: 428px;
    }
    .comment-section{
        max-width: 428px;
        padding-top: 16px;
    }
    textarea::placeholder{
        font-size: 16px;
        line-height: 1.25;
    }
    .order-button{
        width: 100%;
        font-size: 18px;
        line-height: 1.11;
        padding: 16px 191px;
    }
    .order-media-container{
        margin-top: 25px;
        padding: 50px;
        max-width: 628px;
        max-height: 490px;
        margin-left: 70px;
        margin-right: 70px;
    }
    img{
      width: 528px;
      height: 273px;
    }
    .order-media-text{
      margin-top: 50px;
      margin-bottom: 15px;
      font-size: 18px;
      line-height: 1.11;
    }
    .social-media-list{
      gap: 12px;
    }
    .social-media-link{
      font-size: 32px;
      line-height: 1;
    }
    .social-media-item{
      font-size: 32px;
      line-height: 1;
    }
  }
  @media  screen and (min-width: 1280px) {
    .order-section{
      min-width: 1280px;
      padding: 100px;
    }
    .order-text-container{
      margin-right: 429px;
      width: 751px;
      margin-left: 100px;
    }
    .order-text{
      max-width: 742px;
    }
    .second-container{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      max-width: 1080px;
      gap: 24px;
      margin-top: 50px;
    }
    .order-form-container{
      padding: 50px;
      max-width: 529px;
      max-height: 534px;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
    img{
      width: 427px;
      height: 273px;
    }
    .order-media-container{
      max-width: 529px;
      max-height: 534px;
      margin: 0;
    }
  }