.reviews {
  background-color: #fbfbfb;
  padding-top: 80px;
  padding-bottom: 80px;
}

.reviews-title {
  color: #141414;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: -0.015;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.reviews-title-part {
  color: #576f35;
}

.reviews-subtitle {
  max-width: 335px;
  color: #141414;
  font-size: 14px;
  line-height: 1.28;
  margin-bottom: 40px;
}

.reviews-list {
  display: flex;
  flex-wrap: wrap;
}

.reviews-item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 20px 16px;
  border-radius: 24px;
  border: 1px solid rgba(122, 49, 69, 0.3);
}

.reviews-item:not(:first-child) {
  display: none;
}

.reviews-picture {
  margin: 0 auto;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.reviews-card {
  padding-left: 7px;
  padding-right: 7px;
}

.reviews-card-name {
  text-align: center;
  margin-bottom: 8px;
  color: #040306;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.02em;
}

.reviews-card-text {
  margin-bottom: 18px;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
  font-size: 14px;
  line-height: 1.28;
}

@media screen and (min-width: 768px) {
  .reviews {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .reviews-title {
    max-width: 553px;
    font-size: 64px;
    line-height: 1;
    letter-spacing: -0.015;
    margin-bottom: 25px;
  }

  .reviews-subtitle {
    max-width: 553px;
    color: #141414;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 50px;
  }

  .reviews-list {
    flex-wrap: nowrap;
    gap: 18px;
  }

  .reviews-item {
    width: calc((100% - 18px) / 2);
    padding: 20px 20px;
  }

  .reviews-item:nth-child(n + 1) {
    display: flex;
    flex-wrap: wrap;
  }

  .reviews-item:nth-child(n + 3) {
    display: none;
  }

  .reviews-card-name {
    color: #141414;
    font-size: 18px;
    line-height: 1.1;
  }

  .reviews-card-text {
    margin-bottom: 0px;
    color: rgba(20, 20, 20, 0.4);
    font-size: 16px;
    line-height: 1.4;
  }
}

@media screen and (min-width: 1280px) {
  .reviews-list {
    gap: 25px;
  }

  .reviews-item {
    width: calc((100% - 50px) / 3);
  }

  .reviews-item:nth-child(n + 3) {
    display: flex;
  }
}
